obj/*.o
eclipse
darknet
yolo.weights
backup/*
3rdparty/*
build/*
yolo.weights
uselib
Input_Images
Output_Images
Training_Images
darknet.so
./darknet.so
backup_old/*
darknet19_448.conv.23
yolo9000.weights
